body,
html {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #303845;
  direction: rtl;
  color: #ffffff;
  /* overflow-x: hidden; */
}

body.modal-open {
  padding-right: 0 !important;
}

.modal-header,
.modal-body,
.modal-footer {
  background: #2d343f;
}

.modal-header {
  border-bottom: 1px solid #383d3b;
}

.modal-footer {
  border-top: 1px solid #383d3b;
}

#salesDetailsList {
  list-style-type: none;
  padding: 0;
}

.li_chart {
  margin: 10px 0;
  font-size: 13px;
  color: #ffffff;
}

#salesDetailsList li strong {
  color: #a1a3a5;
}

a {
  text-decoration: none;
}

nav {
  background: #2d343f;
  /* display: flex; */
  min-height: 50px;
  color: #adb5bd;
  border-bottom: 1px solid #383d3b;

}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  color: #ffffff;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #ffffff;
}

nav ul li a:hover {
  color: #ffffff;
}

.drop {
  background-color: #2a2f3a;
  border-radius: 10px;
  padding: 10px 0;
  border: 1px solid #444d59;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
}

.ul_drop {
  background-color: #2a2f3a;
  border-radius: 10px;
  padding: 10px 0;
  border: 1px solid #444d59;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ul_drop li a {
  color: #ffffff;
  border-radius: 6px;
  transition: 0.2s;
}

.ul_drop li {
  width: 100%;
}

.ul_drop li:hover {
  background: #303845;
  color: #ffffff;
}

.drop-item {
  color: #ffffff;
  padding: 12px 20px;
}

.drop-item:hover {
  background-color: #3a4450;
  color: #ffffff;
}

.drop.show {
  display: block;
  opacity: 1;
  transform: scaleY(1);
}

.sidebar {
  height: calc(100vh - 60px);
  background: #303845;
  overflow: hidden;
  position: relative;
}

.offcanvas {
  background: #303845;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #1c2230;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #eff1f3;
  border-radius: 4px;
}

.content {
  background: #303845;
}

.sidebar .lista li {
  margin-right: -38px;
}

.sidebar .lista li,
.sidebar .lista {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  transition: 0.3s;
}

.lista {
  cursor: pointer;
}

.sidebar .lista:hover,
.asas li:hover {
  background: #2d343f;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 320px;
}

.search-input {
  width: 100%;
  padding: 6px 50px 6px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #333;
  outline: none;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #5cb85c;
  background-color: #d3d3d3;
}

.search-input::placeholder {
  color: #555;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-btn:hover {
  color: #0d6efd;
}

.lista {
  position: relative;
}

.triangle,
.triangle2,
.triangle3 {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  left: 5px;
  transition: 0.4s;
}

#Asas,
#Asas2,
#Asas3 {
  cursor: pointer;
}

.ul_side li {
  color: #a1a3a5;
  font-size: 12px;
  padding: 5px;
  border-radius: 6px;
  transition: 0.3s;
}

.ul_side li:hover {
  background: #e0e0e0;
}

.asas {
  margin-right: -30px;
  width: 130%;
}

.asas li {
  font-size: 14px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding-right: 10px;
  min-height: 30px;
  border-radius: 6px;
}

.asas a {
  text-decoration: none;
  color: #a1a3a5;
}

.offcanvas {
  padding-right: 20px;
  padding-left: 25px;
}

.content {
  position: relative;
}

.add_fatora {
  float: left;
}

.grey_tr {
  background: #303845;
}

h3 {
  font-weight: bold;
}

.custom-select {
  float: left;
  font-size: 12px;
  max-width: 100px;
  border: 1px solid #ababab;
  direction: ltr;
}

.data_all {
  background: #2d343f;
  border-radius: 10px;
  min-height: calc(100vh - 110px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #383d3b;
  color: #adb5bd;
}

.custom-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  border-color: #0d6efd;
}

tr {
  font-size: 14px;
  font-weight: 100;
}

th {
  font-size: 14px;
  font-weight: 100;
}

span {
  color: #a1a3a5;
}

.datepicker {
  z-index: 9999 !important;
}

.form-control {
  height: 38px;
}

.date-picker-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.datepicker {
  background-color: #1c2230;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: none;
}

.datepicker table {
  width: 100%;
}

.datepicker th,
.datepicker td {
  padding: 8px;
  text-align: center;

}

.datepicker th {
  background-color: #1c2230;
  color: #ffffff;
  font-weight: bold;
}

.datepicker td:hover {
  background-color: black;
  cursor: pointer;
}

.datepicker tbody td:hover,
th:hover {
  color: black;
}

.datepicker .prev,
.datepicker .next {
  font-size: 14px;
  color: #ffffff;
}

.datepicker .prev:hover,
.datepicker .next:hover {
  color: black;
}

.form-label {
  font-size: 14px;
}

.form-control {
  height: 30px;
  font-size: 14px;
}

.list-group-item,
.form-control {
  cursor: pointer;
  transition: 0.2s;
}

.list-group-item:hover {
  background: #e0e0e0;
}

.icon-container,
.icon-container2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* border: 1px solid #e0e0e0; */
  border-radius: 4px;
  background: black;
  color: #fff;
}

.icon-name1,
.icon-name2 {
  display: none;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.4s;
}

.icon-container:hover .icon-name1 {
  display: block;
}

.icon-container2:hover .icon-name2 {
  display: block;
}

.icon-container:hover,
.icon-container2:hover {
  background: #1c2230;
  color: #ffffff;
}

.icons,
.icons2 {
  font-size: 13px;
}

.icon {
  background: #e0e0e0;
  color: black;
  transform: scale(0.9);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.icon:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 50%);
}

.card {
  transform: scale(0.95);
  background: #303845;
}

.card div span {
  font-size: 14px;
  display: block;
  padding: 5px;
  cursor: pointer;
  display: inline;
  border-radius: 6px;
  transition: 0.2s;
}

.card div span:hover {
  background: #2d343f;
}

.body_card {
  border-top: 1px solid #ddd;
  height: auto;
  min-height: 150px;
}

.card-body span {
  font-size: 12px;
}

.div_table {
  max-height: 90%;
  overflow-y: auto;
}

.div_table::-webkit-scrollbar {
  width: 8px;
}

.div_table::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 4px;
}

.div_table::-webkit-scrollbar-track {
  background-color: #eff1f3;
  border-radius: 4px;
}

.table_taqrir {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  /* margin-top: 20px; */
}

.table_taqrir th,
td {
  padding: 10px;
  border-bottom: none;
}

.table_taqrir th {
  background-color: #f2f2f2;
}

.time,
.client,
.btns {
  display: none;
}

.table_menu {
  position: absolute !important;
  transform: translate3d(0px, 0px, 0px) !important;
  z-index: 1050 !important;
  left: 0 !important;
  right: auto !important;
  min-width: 150px;
  white-space: nowrap;
}

#myTable {
  position: relative;
  overflow: visible !important;
  background: #2d343f;
  color: #adb5bd;
  border: 1px solid #383d3b;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-search2 {
  border-style: none;
  /* padding: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: rgb(57, 56, 56);
  padding-right: 40px;
  color: #ffffff;
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid grey;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  cursor: pointer;
}

.ul_margin {
  padding: 3px;
}

.card-data {
  border-radius: 6px;
  transform: scale(0.95);
  overflow: hidden;
  background: #303845;
  height: 70px;
  border: 1px solid #383d3b;
  transition: 0.3s;
}

.card-data:hover {
  transform: scale(1);
}

.card-data .row {
  height: 100%;
  padding: 5px;
}

.logo_container {
  height: 90%;
  margin-top: 2px;
  display: grid;
  padding: 10px;
  place-items: center;
  background: #2d343f;
  border-radius: 6px;
  font-size: 23px;
  border: 1px solid #dee2e6;
  color: black;
}

.data_card span {
  margin: 5px;
  font-size: 13px;
  display: block;
}

.footer_ul {
  list-style: none;
}

.footer_ul li {
  margin-bottom: 10px;
}

.footer_ul a {
  text-decoration: underline;
  color: black;
}

.iconat a {
  color: grey;
  margin: 10px;
}

.iconat a:hover {
  color: #000;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-twitter {
  transition: 0.3s;
}

.fa-twitter:hover,
.fa-facebook:hover,
.fa-linkedin:hover,
.fa-instagram:hover {
  transform: scale(1.5);
}

.moon_mode {
  font-size: 18px;
  margin-left: 3px;
  transition: 0.2s;
}

.moon_mode:hover {
  color: #000;
}

.mode {
  font-size: 18px;
}

.moon {
  margin-right: 10px;
  margin-left: 10px;
}

.sun {
  margin-right: 8px;
  margin-left: 10px;
}

.dark-mode a {
  color: #fff;
  /* لون الروابط */
}

.table_header {
  overflow: hidden;
  background-color: #303845;
  color: #ffffff;
  padding-top: 10px;
  border-radius: 10px 10px 0px 0px;
}

.button {
  font-size: 12px;
  border: 1px solid grey;
  background: #2d343f;
  width: 100px;
  color: #fff;
}

.strong {
  color: #000000;
}

.drop_select {
  color: #fff;
  border-radius: 6px;
  transition: 0.2s;
}

.drop_select:hover {
  background: #303845;
  color: #fff;
}

.hover_dark:hover {
  background: #2d343f;
}

.dark2 {
  background: #2d343f;
  /* color: #a1a3a5; */
}

.h2 {
  font-size: 14px;
  color: black;
}

.a {
  color: #a1a3a5;
}

.setting {
  color: #adb5bd;
  font-size: 18px;
  transition: 0.18s;
}

.ring {
  position: absolute;
  top: -10px;
  left: 0px;
  transform: scale(0.8);
}

.rington {
  width: 290px;
  height: 400px;
  position: absolute;
}

.content_ring {
  overflow-y: auto;
  height: 300px;
}

.content_ring_item {
  border-bottom: 1px solid #383d3b;
  cursor: pointer;
  transition: 0.2s;
}

.content_ring_item:hover {

  background: #303845;
}

.data_ring {
  text-align: right;
}

.data_ring span {
  font-size: 12px;
  color: grey;
}

.rington_footer {
  height: 50px;
  border-top: 1px solid #383d3b;

}

.rington_footer a {
  color: grey;
  font-weight: bold;
}

.unread {
  position: absolute;
  left: 5px;
  color: #adb5bd;
}

.ul-menu {
  background: #2d343f;
  border: 1px solid #383d3b;
}

.ul-menu li {
  text-align: center;
}

.ul-menu li a {
  color: #adb5bd;
}

.ul-menu li a:hover {
  background: #303845;
}

.content_ring::-webkit-scrollbar {
  width: 5px;
  /* عرض السكروول بار */
}

.content_ring::-webkit-scrollbar-thumb {
  background-color: #2c302e;
  /* لون السكروول بار */
  border-radius: 4px;
  /* استدارة الحواف */
}

.content_ring::-webkit-scrollbar-thumb:hover {
  background-color: #2c302e;
  /* اللون عند التمرير عليه */
}

.content_ring::-webkit-scrollbar-track {
  background-color: #313533;
  /* لون الخلفية */
  border-radius: 4px;
}

.span_card {
  display: inline;
  color: #ffffff;
}

#moon {
  display: none;
}

.ul_mode {
  background-color: #2d343f;
}

.ul_mode li a {
  color: #fff;
  border-radius: 6px;
  transition: 0.2s;
}

.h2_head {
  font-size: 14px;
  color: #fff;
}

.color_i {
  color: #fff;
}

.home {
  color: #fff;
}

.list-group li {
  background: #2a2f3a;
  color: #ddd;
}

.list-group li:hover {
  color: #000000;
}

.span_block {
  display: block;
}

.div_search {
  position: relative;
  float: left;
  /* background: red; */
}

.input {
  float: left;
  direction: ltr;
  height: 40px;
  margin-top: -10px;
}

.btn_search {
  position: absolute;
  right: 0;
  margin-top: -3px;
}

.ul_none li {
  list-style: none;
  font-size: 14px;
}